.html-login , .body-login {
    height:100%;
    padding: 0;
    margin: 0;
}
.html-login {
    background: url("../images/001.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.body-login {
    filter: alpha(Opacity=40);
    background: rgba(105, 105, 105, 0.8); /* applies a 80% transparent white background */
}
.login-md {
    background: #ffffff;
    padding: 35px;
    border-radius: 3px;
    margin-bottom: 21%;
    width: 430px;

}
.w100{
    width: 100%;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-25{
    margin-top: 25px;
}
.m-b-25{
    margin-bottom: 25px;
}
.wrapper-page .form-control {
    border-radius: 3px;
}

/*.kf_comming_counter ul.countdown li a p:hover{*/
    /*background-color: rgb(255, 255, 255);*/
    /*padding: 57px 0px 44px 0px;*/
    /*bottom: 0px;*/
/*}*/
/*.kf_comming_counter ul.countdown li a {*/
    /*height: 150px;*/
    /*width: 150px;*/
/*}*/

.portlet-status{
    text-align: center;
    padding: 21px;
    border: solid gray 2px;
    border-radius: 4px;
}
.ta-center{
    text-align: center;
}
.status-white{
    background-color: #ffffff;
}
.status-gray{
    background-color: #797979;
}
.status-black{
    background-color: #000000;
}
#gauge{
    height: 280px !important;
    width: 350px !important;
    text-align: center;
    margin: 0 auto;

}
.incident{
    height: 365px;
}
.progress.progress-lgg {
    height: 25px !important;
}
.progress-custom {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}
.table-custom{
    background-color: #f6f6f6;
}
.table-custom.content{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; display: block; margin: 0 auto; padding: 20px;
}
.portlet-table-status {
    padding: 0 16px 20px 16px;
    border: 2px solid gray;
    border-radius: 3px;
}
.table-bordered tr td{
    /*text-align: center;*/
    vertical-align: middle !important;
}
.table-n tr td:nth-child(3){
    background-color: #efecec;
}

/**
***********************
****** Masonry ********
***********************
**/

.grid {
    margin-left: 50px;
}
.grid .ibox {
    margin-bottom: 0;
}

.grid-item {
    margin-bottom: 25px;
    width: 250px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox-content {
    clear: both;
}
.ibox-content {
    background-color: #ffffff;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
    border-radius: 5px;
}
.ibox-top{
    padding: 15px;
}
.ibox-bottom{
    margin-bottom: 10px;
    padding: 0 0 0 15px;
}
.ibox-top h4, .ibox-bottom h4{
    text-align: center;
}
.txt-white{
    color: #ffffff;
}
.txt-black{
    color: #0b0b0b;
}
.txt-inherit{
    color: inherit;
}

.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
}
.contact-box > a {
    color: inherit;
}
.m-t-xs {
    margin-top: 5px;
}

.fs-13{
    font-size: 13px;
}
.fs-10{
    font-size: 10px;
}

.round-top{
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
}
.logo img{
    width: 14%;
}
.logo .logo-img{
    margin-top: 6px;
    width: 100%;
}